﻿@{
    ViewData["Title"] = "Home Page";
}

@model WNG_Coding_Task.Models.Calculation.Dto.CalculationDto

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <h1>Welcome!</h1>
        <p class="lead">Please enter a positive, whole number and click "Submit"</p>
        <form method="post">
            <input name="NumberInput" type="text" />
            <input type="submit" class="btn btn-primary btn-lg" value="Submit">
        </form>
        <div style="margin-top:2%">
            @Html.ValidationSummary(true)
        </div>
    </div>
</div>
<div class="row" style="margin-top:10%">
    <div class="col-md-3" style="border-right:solid grey 1px;">
        <h4>All numbers up to and including the number entered</h4>
        <hr />
        <div style="word-wrap: break-word">
            @if (Model != null)
            {
                @string.Join(", ", Model.AllNumbersUpToInput.Select(n => n.ToString()).ToArray());
            }
        </div>
    </div>
    <div class="col-md-3" style="border-right:solid grey 1px;">
        <h4>All odd numbers up to and including the number entered</h4>
        <hr />
        <div style="word-wrap: break-word">
            @if (Model != null)
            {
                @string.Join(", ", Model.AllOddNumbers.Select(n => n.ToString()).ToArray());
            }
        </div>
    </div>
    <div class="col-md-3" style="border-right:solid grey 1px;">
        <h4>All even numbers up to and including the number entered</h4>
        <hr />
        <div style="word-wrap: break-word">
            @if (Model != null)
            {
                @string.Join(", ", Model.AllEvenNumbers.Select(n => n.ToString()).ToArray());
            }
        </div>
    </div>
    <div class="col-md-3">
        <h4>All numbers up to and including the number entered,<br />
            except when a number is a multiple of 3 output C,<br />
            and when a number is a multiple of 5 output E,<br />
            and when a number is a multiple of both 3 and 5 output Z
        </h4>
        <hr />
        <div style="word-wrap: break-word">
            @if (Model != null)
            {
                @string.Join(", ", Model.AllNumbersAlphaReplace.Select(n => n.ToString()).ToArray());
            }
        </div>
    </div>
</div>
